body {
    font-family: Arial;
    background-color: #6cc0e5;
    width: 500px;
    margin: auto;
    text-align: center;
}                                           

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}


table {
    margin-top: 10px;
    border: 2px solid;
    border-radius: 5px;
}

td {
    border:1px solid;
}

#numbers {
    margin: auto;
    text-align:center;
    margin-bottom: 10px;
    font-size: 20px;
    border:5px solid;
    border-radius:10px;
    background-color:white;
    width:200px;
    height:20px;    
}

#upgradeLevel {
    margin: auto;
    text-align:center;
    margin-bottom: 5px;
    font-size: 20px;
    border:5px solid;
    border-radius:10px;
    background-color:white;
    width:200px;
    height:20px;    
}



button{
    border:solid 2px black;
    font-size: large;
    border-radius: 10px;
}

#cookie{
    padding-top:45px;
}







  